<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".lesson1.ImplicitIntentActivity" android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
            <action android:name="android.intent.action.VIEW"
                tools:ignore="AppLinkUrlError" />
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".lesson1.ExplicitIntentSecondActivityActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.ExplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.Lesson1Intents"
            android:exported="false" />
        <activity
            android:name=".lesson1.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name=".lesson1.ConstraintDemoActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.RelativeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.LinearDemoActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.Lesson1Layouts"
            android:exported="false" />
        <activity
            android:name=".lesson1.Lesson1Views"
            android:exported="false" />
        <activity
            android:name=".Lesson1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>